include layout.jade

    include search_type_selection.jade

    include results_search_form.jade

    if team
        include search_table.jade

    if favTeams
        include favorite_teams_table.jade
