doctype html
html
    head
        title Football Teams Aggregator
        link(rel='stylesheet', href='/css/style.css')
    body
        h1 Welcome to our Football Teams Aggregator
        p
            | Search for your favorite team history and games
        p
            | Add search form
        a(href="/teams/10") Team with id 10
