doctype html
html
    head
        title Football Teams Aggregator
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        h1 Welcome to our Football Teams Aggregator
        p
            | Search for your favorite team history and games
        p
            | Add search form
        a(href="/teams/10") Team with id 10
