table(class="table")
  caption Search results for #{team}
  thead
    tr
      th Team
  tbody
    each result in results
        tr
          td
            a(href='/team/#{result.team_id}/#{result.team_name}') #{result.team_name}
