table(class="table")
  caption Search results for #{team}
  thead
    tr
      th #
      th Team
  tbody
    each result in results
        tr
          td #{result.team_id}
          td #{result.team_name}
