table(class="table")
    caption Search results for #{team}
    thead
        tr
            th #
            th Team
    tbody
        - for (var i = 1; i < 11; ++i) {
            tr
                td #{i}
                td Porto
        - }
