if search_type == "titles"
    ul(class="nav nav-pills")
        li(role="presentation" class="active")
            a(href="/info") Information
        li(role="presentation")
            a(href="/home/results") Results
else if search_type == "results"
    ul(class="nav nav-pills")
        li(role="presentation")
            a(href="/info") information
        li(role="presentation" class="active")
            a(href="/home/results") Results